<form (submit)="onSubmit(queryForm)" [formGroup]="queryForm">
  <div class="form-row justify-content-between">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" formControlName="name" placeholder="学期名称">
    </div>
    <div class="form-group col-md-3 text-left align-self-end">
      <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> 查询</button>
    </div>
    <div class="col-6 text-right">
      <a class="btn btn-primary" routerLink="add"><i class="fas fa-plus"></i>新增</a>
    </div>
  </div>
</form>
<hr>
<div class="row mb-2">
  <div class="col-6 text-left">
    <app-size [size]="pageData.size" (changeSize)="onSizeChange($event)"></app-size>
  </div>
</div>
<table class="table table-striped mt-3">
  <thead class="table-primary">
  <tr class="info">
    <th>序号</th>
    <th>名称</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let term of pageData.content, index as index">
    <td>{{ index + 1 }}</td>
    <td>{{ term.name }}</td>
    <td>{{ +term.startTime * 1000 | date: 'yyyy-MM-dd'}}</td>
    <td>{{ +term.endTime * 1000 | date: 'yyyy-MM-dd'}}</td>
    <td><span class="badge" [ngClass]="{ 'badge-primary': term.state, 'badge-secondary': !term.state }">{{ term.state | termState }}</span></td>
    <td>
      <a class="btn btn-sm btn-primary" [routerLink]="'edit/' + term.id">编辑</a>
      <a class="btn btn-sm btn-danger" (click)="onDelete(term)">删除</a>
      <a class="btn btn-sm btn-success col-md-2" (click)="active(term)">激活</a>
    </td>
  </tr>
  </tbody>
</table>
<app-page [page]="pageData.number"
          [size]="pageData.size"
          [totalElements]="pageData.totalElements"
          (changePage)="onPageChange($event)"></app-page>
