<div class="row">
  <div class="col-md-10">
    <form class="form-inline" (submit)="onSubmit(queryForm)" [formGroup]="queryForm">
      <input type="text" class="form-control mr-3" formControlName="name" placeholder="学期名称">
        <button type="submit" class="btn btn-info"><i class="fas fa-search"></i> 查询</button>
    </form>
  </div>
  <div class="col-md-2">
    <a class="btn btn-primary mr-2" style="float: right" routerLink="add"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>
<hr>
<div class="row mb-2">
  <div class="col-6 text-left">
    <app-size [size]="pageData.size" (changeSize)="onSizeChange($event)"></app-size>
  </div>
</div>
<table class="table table-striped mt-3">
  <thead class="table-primary">
  <tr class="info">
    <th>序号</th>
    <th>名称</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let term of pageData.content, index as index">
    <td>{{ index + 1 }}</td>
    <td>{{ term.name }}</td>
    <td>{{ +term.startTime * 1000 | date: 'yyyy-MM-dd'}}</td>
    <td>{{ +term.endTime * 1000 | date: 'yyyy-MM-dd'}}</td>
    <td><span class="badge" [ngClass]="{ 'badge-primary': term.state, 'badge-secondary': !term.state }">{{ term.state | termState }}</span></td>
    <td>
      <a class="btn btn-sm btn-primary" [routerLink]="'edit/' + term.id"><i class="fas fa-edit"></i>编辑</a>
      <button class="btn btn-sm btn-success col-md-3" (click)="active(term)" [disabled]="term.state"><i class="fas fa-hourglass-half"></i>激活</button>
      <a class="btn btn-sm btn-danger" (click)="onDelete(term)" [hidden]="term.state"><i class="fas fa-trash"></i>删除</a>
    </td>
  </tr>
  </tbody>
</table>
<app-page [page]="pageData.number"
          [size]="pageData.size"
          [totalElements]="pageData.totalElements"
          (changePage)="onPageChange($event)"></app-page>
