<!--<div class="row">-->
<!--  <div class="col-md-4">-->
<!--    <a class="btn btn-primary btn-sm" [routerLink]="'edit'"><i class="fas fa-edit"></i>修改个人信息</a>-->
<!--    <a class="btn btn-primary btn-sm" [routerLink]="'modifyPassword'"><i class="fas fa-edit"></i>修改密码</a>-->
<!--  </div>-->
<!--</div>-->
<h4>我的信息</h4>
<hr>
<div class="row">
  <div class="col-md-3">
    <table class="table border mt-2">
      <tbody>
      <tr>
        <td class="border-right">姓名</td>
        <td>
          {{ this.user.name }}
        </td>
      </tr>
      <tr>
        <td class="border-right">手机号</td>
        <td>
          {{ this.user.phone }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
