<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <ng-container *ngIf="loginModel === 'username'">
    <div class="form-group">
      <label for="exampleInputEmail1"><code>*</code>手机号</label>
      <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="请输入手机号"  aria-describedby="emailHelp" formControlName="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"><code>*</code>密码</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" formControlName="password">
    </div>
    <ng-template [ngIf]="errorInfo">
      <hr>
      <small class="text-danger">{{ errorInfo }}</small>
    </ng-template>
    <button class="btn btn-block btn-primary" >登 录</button>
    <button type="button" class="btn btn-block btn-success" (click)="onWeChatLogin()">微信登录</button>
  </ng-container>
  <ng-container *ngIf="loginModel === 'wechat'">
    <img class="img-fluid" [src]="qrCodeSrc">
    <button type="button" class="btn btn-block btn-primary" (click)="loginModel = 'username'">密码登录</button>
  </ng-container>
</form>
