
.login-button:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.login-button:focus {
  box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5);
}

.login-button:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
