<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
  <div class="form-group row mb-0" *ngFor="let clazz of this.schedule.clazzes; index as x">
    <label class="col-sm-2 text-right col-form-label" style="width: 162px"><code>*</code>班级{{ x + 1 }}</label>
    <div class="col-sm">
      <input type="text" class="disabled mt-1" disabled [value]="clazz.name">
      <button type="button" class="btn btn-danger btn-sm ml-1" (click)="onDeleteClazz(clazz.id)">删除</button>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 text-right col-form-label"><code>*</code>上课班级<br>(可多选)</label>
    <div class="col-sm">
<!--      <select class="select picker form-control col-sm-3" formControlName="clazzIds" id="clazzIds" style="width: 200px" multiple>-->
<!--        <option [value]="null">请选择班级</option>-->
<!--        <option *ngFor="let clazz of thirdFilerClazzes" [value]="clazz.id">{{ clazz.name }}</option>-->
<!--      </select>-->

      <ng-select [items]="commonService.sortByName(thirdFilerClazzes)"
                 bindLabel="name"
                 bindValue="id"
                 [multiple]="true"
                 [closeOnSelect]="false"
                 formControlName="clazzIds"
                 placeholder="选择班级"
                 style="width: 14em"
      >
      </ng-select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 text-right col-form-label" style="width: 162px"><code>*</code>教师</label>
    <div class="col-sm-2 mr-2">
<!--      <select class="select picker form-control col-sm-12" style="width: 200px" formControlName="teacher1Id" id="teacher1Id" required>-->
<!--        <option [value]="null">请选择教师1</option>-->
<!--        <option *ngFor="let teacher of selectableTeachers" [value]="+teacher.id">{{teacher.name}}</option>-->
<!--      </select>-->

      <ng-select [items]="commonService.sortByName(selectableTeachers)"
                 bindLabel="name"
                 bindValue="id"
                 formControlName="teacher1Id"
                 placeholder="选择教师1"
                 style="width: 14em"
      >
      </ng-select>
    </div>
    <div class="col-sm-2">
<!--      <select class="select picker form-control col-sm-12" style="width: 200px; margin-top: 2px" formControlName="teacher2Id" id="teacher2Id" required>-->
<!--        <option [value]="null">请选择教师2</option>-->
<!--        <option *ngFor="let teacher of selectableTeachers" [value]="+teacher.id">{{teacher.name}}</option>-->
<!--      </select>-->

      <ng-select [items]="commonService.sortByName(selectableTeachers)"
                 bindLabel="name"
                 bindValue="id"
                 formControlName="teacher2Id"
                 placeholder="选择教师2"
                 style="width: 14em"
      >
      </ng-select>
    </div>
    <div class="offset-2 col-sm-12">
      <small class="text-danger" *ngIf="isTeacherSame">
        <span>两个教师不能相同</span>
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 text-right col-form-label" style="width: 162px"></label>
    <div class="col-sm">
      <a type="button" class="btn btn-primary mt-1" routerLink="../">返回</a>
      <button class="btn btn-primary mt-1" [disabled]="canSubmit()"><i class="fas fa-save"></i>保存修改</button>
    </div>
  </div>
</form>
