<form [formGroup]="formGroup">
  <!-- 选择课程 -->
  <div class="form-group row">
    <label class="col-sm-1 text-right col-form-label" style="width: 162px"><code>*</code>课程</label>
    <div class="col-sm">
      <select class="select picker form-control col-sm-3" style="width: 200px" (change)="onCourseIdChange()" formControlName="courseId" id="courseId" required>
        <option [value]="''">请选择课程</option>
        <option *ngFor="let course of courses" [value]="+course.id">{{course.name}}</option>
      </select>
    </div>
  </div>

  <!-- 选择班级 -->
  <div *ngIf="formGroup.get('courseId')?.value !== ''">
    <div class="form-group row">
      <label class="col-sm-1 text-right col-form-label"><code>*</code>上课班级<br>(可多选)</label>
      <div class="col-sm">
        <select class="select picker form-control col-sm-3" style="width: 200px" (change)="onClazzIdsChange()" formControlName="clazzIds" multiple id="klass">
          <option *ngFor="let clazz of clazzes" [value]="+clazz.id">{{clazz.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-1 text-right">
        <label style="font-size: 15px"><code>*</code>操作提示：Ctrl+鼠标左键可进行多选操作</label>
      </div>
    </div>
  </div>

  <!-- 选择教师 -->
  <div *ngIf="this.isShowTeacherSelect">
    <div class="form-group row">
      <label class="col-sm-1 text-right col-form-label" style="width: 162px"><code>*</code>教师</label>
      <div class="col-sm-2">
        <select class="select picker form-control col-sm-12" style="width: 200px" (change)="onTeacherIdChange()" formControlName="teacher1Id" id="teacher1Id" required>
          <option [value]="null">请选择教师1</option>
          <option *ngFor="let teacher of teachers" [value]="+teacher.id">{{teacher.name}}</option>
        </select>
      </div>
      <div class="col-sm-2">
        <select class="select picker form-control col-sm-12" style="width: 200px; margin-top: 2px" (change)="onTeacherIdChange()" formControlName="teacher2Id" id="teacher2Id" required>
          <option [value]="null">请选择教师2</option>
          <option *ngFor="let teacher of teachers" [value]="+teacher.id">{{teacher.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <!--选择时间-->
  <div *ngIf="!formGroup.invalid" class="form-group row">
    <div class="col-sm-12">
      <label class="col-sm-2 col-form-label"><code>*</code>上课时间</label>
    </div>
    <div class="col-sm" style="float: right">
      <table class="table  table-bordered">
        <thead>
          <tr>
            <th>周几/课序</th>
            <th *ngFor="let lesson of lessons">{{lesson + 1}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of days; index as d">
            <th   class="col-sm-1">周{{day}}</th>
            <td  *ngFor="let lesson of lessons" class="col-sm-1 container-fluid">
              <div class="list-group  ">
                <button class="list-group-item"></button>
              </div>
<!--              <ul class="list-group list-group-horizontal-sm small col-sm-12">-->
<!--                <button class="list-group-item small col-sm-6">1</button>-->
<!--                <button class="list-group-item small">2</button>-->
<!--              </ul>-->
<!--              <ul class="list-group small col-sm-12">-->
<!--                <button class="list-group-item small">2</button>-->
<!--              </ul>-->
            </td>
          </tr>

<!--              <div class="row">-->
  <!--                <app-course-time-->
  <!--                  [day]="d"-->
  <!--                  [lesson]="l"-->
  <!--                  [weeks]="weeks"-->
  <!--                  [rooms]="rooms"-->
  <!--                  [teacher]="teacher"-->
  <!--                  [style]="formGroup.get('clazz_ids')?.value"-->
  <!--                  [conflictData]="getConflictData(d, l)"-->
  <!--                  [clazzes]="formGroup.get('clazz_ids')?.value"-->
  <!--                  (outer)="getFooterRun($event)"-->
  <!--                ></app-course-time>-->
<!--              </div>-->
        </tbody>
      </table>

    </div>

    <div class="row col-sm-12">
      <div class="col">
        <a type="submit" class="btn btn-primary">确定</a>
      </div>
    </div>
  </div>
</form>
