<!-- 选择课程 -->
<div class="form-group row">
  <label class="col-sm-2 text-right col-form-label" style="width: 162px"><code>*</code>课程</label>
  <div class="col-sm">
    <input type="text" class="disabled" disabled [value]="course.name">
  </div>
</div>
<!--选择时间-->
<div class="form-group row">
  <label class="col-sm-2 text-right col-form-label"><code>*</code>上课时间</label>
  <div class="col-sm-10">
    <div class="dropdown">
      <span *ngIf="overtimeWeekNumber !== undefined && currentTerm.id === term.id" class="font-weight-bold mr-5">当前周:&nbsp;{{ overtimeWeekNumber! + 1 }}</span>
      <span class="font-weight-bold">课程学时:&nbsp;&nbsp;{{ course?.hours}}</span>
    </div>
  </div>


  <label class="col-sm-2 mt-3"></label>
  <div class="col-sm mt-3">
    <table class="table  table-bordered">
      <thead>
      <tr>
        <th>周几/课序</th>
        <th *ngFor="let bigLesson of bigLessons">{{bigLesson! + 1}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let day of days; index as d">
        <th   class="col-sm-1">周{{day}}</th>
        <td  *ngFor="let bigLesson of bigLessons" class="col-sm-1 container-fluid">
          <div class="list-group">
            <button data-toggle="modal" data-target="#staticBackdrop" class="list-group-item" [ngClass]="{'list-group-item-primary': buttonActive(d, bigLesson)}" (click)="showModel(d, bigLesson)">
              <span *ngIf="weeksRecorder[d][bigLesson].length">{{ this.getWeeks(getNotEmptyWeeksOfTable(d, bigLesson)) }}</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-yz-modal *ngIf="isShowModel && false" [width]="'65%'" [size]="'md'">
  <div class="">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title ml-3">周{{days[day!]}}第{{bigLesson! + 1}}节</h5>
          <ul class="list-group list-group-horizontal ml-5">
            <button class="btn border list-group-item"
                    [ngClass]="{'bg-primary': !syncRecorder[day!][bigLesson!], 'text-white': !syncRecorder[day!][bigLesson!]}"
                    [disabled]="isArrayHasNotEqualArray(tempData)"
                    (click)="onSync()">启用同步</button>
          </ul>
          <ul class="list-group list-group-horizontal">
            <button class="btn border list-group-item"
                    [ngClass]="{'bg-primary': smLessons.includes(0), 'text-white': smLessons.includes(0)}">小节1</button>
            <button class="btn border list-group-item"
                    [ngClass]="{'bg-primary': smLessons.includes(1), 'text-white': smLessons.includes(1)}">小节2</button>
            <button class="btn border list-group-item"
                    [ngClass]="{'bg-primary': smLessons.includes(2), 'text-white': smLessons.includes(2)}" [disabled]="bigLesson !== 4">小节3</button>
          </ul>
        </div>
        <div class="modal-body">
          <div class=" row ">
            <span class="col-12">周:&nbsp;
              <span class="text-muted" *ngIf="syncRecorder[day!][bigLesson!]" style="font-size: 0.7em">(选择某个周再选择对应教室，已占用周:&nbsp;{{getNotEmptyWeeks()}})</span>
            </span>
          </div>
          <ul class="list-group list-group-horizontal">
            <ng-container *ngFor="let w of weeks" class="list-group-item">
              <button [disabled]="isWeekDisabled(w)" (click)="onWeekClick(w)"
                      [ngClass]="{'bg-primary': w === week || selectedWeeks.includes(w)}"
                      class="mr-1 border-white yzRound" style="font-size: 0.8em">第{{ w! + 1 }}周</button>
            </ng-container>
          </ul><br>

          <div *ngIf="week !== undefined || !syncRecorder[day!][bigLesson!]">
            <h6>教室<span class="text-muted" *ngIf="syncRecorder[day!][bigLesson!]" style="font-size: 0.7em">(周:{{week! + 1}})</span>:</h6>
            <ul class="list-group list-group-horizontal">
              <ng-container *ngFor="let room of rooms" class="list-group-item">
                <button [disabled]="isRoomDisabled(room.id!)"
                        [ngClass]="{'bg-primary': isRoomChecked(room.id!)}"
                        class="mr-1 border-white yzRound" [value]="room.id" style="font-size: 0.8em">{{ room.name }}</button>
              </ng-container>
            </ul>
          </div>
          <br><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="close()" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</app-yz-modal>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">周{{days[day!]}}第{{bigLesson! + 1}}节</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th scope="col" class="col-2">周</th>
                <th scope="col" class="col-2">地点</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let week of weeks; index as index">
                <ng-container *ngIf="week < weeks.length / 2">
                  <tr>
                    <th scope="row">第 {{week + 1}} 周
                    <td>{{ getRoomsName(week) }}</td>
                  </tr>
                </ng-container>
              </ng-container>
              </tbody>
            </table>
          </div>
          <div class="col">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th scope="col" class="col-2">周</th>
                <th scope="col" class="col-2">地点</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let week of weeks; index as index">
                <ng-container *ngIf="week >= weeks.length / 2">
                  <tr>
                    <th scope="row">第 {{week + 1}} 周
                    <td>{{ getRoomsName(week) }}</td>
                  </tr>
                </ng-container>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
