<!--查询和添加-->
<div class="row">
  <div class="col-md-8">
    <form class="form-inline" (submit)="onSubmit(queryForm)" [formGroup]="queryForm">
      <input type="text" class="form-control mr-3" placeholder="教师姓名" formControlName="searchName">
      <input type="text" class="form-control mr-3" placeholder="手机号" formControlName="searchPhone">
      <button type="submit" class="btn btn-info"><i class="fas fa-search"></i>查询</button>
    </form>
  </div>
  <div class="col-md-4 text-right">
    <button class="btn btn-info"
            type="button"
            (click)="onImportButtonClick()">
      <i class="fas fa-file-import"></i>导入
    </button>
    <a class="btn btn-primary mr-2" routerLink="add"><i class="fas fa-plus"></i>新增</a>
  </div>
</div>
<hr/>
<div class="row mb-2">
  <div class="col-6 text-left">
    <app-size [size]="pageData.size" (changeSize)="onSizeChange($event)"></app-size>
  </div>
</div>
<table class="table table-striped mt-3">
  <thead class="table-primary">
  <tr class="info">
    <th>序号</th>
    <th>姓名</th>
    <th>手机号</th>
    <th>性别</th>
    <th>学时数</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let teacher of pageData.content, index as index">
    <td>{{ index + 1 }}</td>
    <td>{{ teacher.name }}</td>
    <td>{{ teacher.phone }}</td>
    <td>{{ teacher.sex | sex}}</td>
    <td>{{ teacher.getHours()}}</td>
    <td>
      <a class="btn btn-sm btn-primary" [routerLink]="'/teacher/edit/' + teacher.id"><i class="fas fa-edit"></i>编辑</a>
      <a class="btn btn-sm btn-danger" (click)="onDelete(teacher.id)"><i class="fas fa-trash"></i>删除</a>
    </td>
  </tr>
  </tbody>
</table>
<app-page [page]="pageData.number"
          [size]="pageData.size"
          [totalElements]="pageData.totalElements"
          (changePage)="onPageChange($event)"></app-page>
<app-teacher-import *ngIf="showImportComponent"
                    (beCancel)="onImportCancel()"
                    (beImported)="onImported()"></app-teacher-import>
